<div class="card p-4">
  <button class="btn btn-primary col-2 mb-3" (click)="addUser()">New User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>
        <a routerLink="/users/{{user.id}}">
          {{user.name}}
        </a>
      </td>
      <td>{{user.email}}</td>
      <td>{{user.role | titlecase}}</td>
      <td>
        <a class="btn btn-primary" routerLink="/users/{{user.id}}/edit">Edit</a>
        <a class="btn btn-danger ml-1 text-white" (click)="deleteUser(user)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>