<h2 class="text-center">Edit Test</h2>
<button class="btn btn-primary" (click)="addQuestion()">Questions</button>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()" id="test_form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" formControlName="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" formControlName="description" class="form-control">
  </div>
  <div class="question" formArrayName="questions">
    <div *ngFor="let question of editForm.get('questions').controls;let i = index" [formGroupName]="i">
      <a class="btn btn-primary" (click)="deleteQuestion(i)">Delete</a>
      <div class="form-group">
        <input type="text" formControlName="title" placeholder="Question title">
      </div>
      <div class="form-group">
        <input type="text" formControlName="description" placeholder="Question description">
      </div>
      <a class="btn btn-primary" (click)="addAnswer(i)">Answers</a>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let answer of question.get('answers').controls;let j = index" [formGroupName]="j">
          <a class="btn btn-primary" (click)="deleteAnswer(question.controls.answers, j)">Delete</a>
          <div class="form-group">
            <input type="text" formControlName="content" placeholder="Answer description">
          </div>
          <div class="form-group form-check">
            <input type="radio" class="form-check-input" id="answer_true_{{i}}_{{j}}" formControlName="correct" value="true">
            <label class="form-check-label" for="answer_true_{{i}}_{{j}}">True</label>
          </div>
          <div class="form-group form-check">
            <input type="radio" class="form-check-input" id="answer_false_{{i}}_{{j}}" formControlName="correct" value="false">
            <label class="form-check-label" for="answer_false_{{i}}_{{j}}">False</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary">Save</button>
</form>
