<div class="mt-3 card p-4 col-6 offset-3">
  <h2 class="text-center">Edit Test</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" id="test_form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" formControlName="description" class="form-control">
    </div>
    <a class="btn btn-primary col-3 text-white" (click)="addQuestion()">Questions</a>
    <div class="question" formArrayName="questions">
      <div *ngFor="let question of editForm.get('questions').controls;let i = index" [formGroupName]="i">
        <hr>
        <a class="btn btn-primary text-white mt-3 mb-3" (click)="deleteQuestion(i)">Delete</a>
        <div class="form-group">
          <input type="text" formControlName="title" placeholder="Question title" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" formControlName="description" placeholder="Question description" class="form-control">
        </div>
        <a class="btn btn-primary text-white" (click)="addAnswer(question.controls.answers, i)">Answers</a>
        <div class="answer" formArrayName="answers">
          <div *ngFor="let answer of question.get('answers').controls;let j = index" [formGroupName]="j">
            <div class="form-inline row mt-3 mb-3">
              <div class="form-group col-7">
                <label>{{ j + 1 }}</label>
                <input type="text" formControlName="content" placeholder="Answer description" class="form-control ml-3 col-10">
              </div>
              <div class="form-group form-check col-3">
                <input type="checkbox" class="form-check-input" id="answer_{{i}}_{{j}}" formControlName="correct">
                <label class="form-check-label" for="answer_{{i}}_{{j}}">Correct</label>
              </div>
              <a class="btn btn-primary text-white col-2" (click)="deleteAnswer(question.controls.answers, j)">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Save</button>
  </form>
</div>
